# FRONTEND URL
CORS_ORIGIN=http://localhost:5173

# FOR AUTH
PEPPER_KEY=pepperKey
ENCRYPTION_KEY=encryptionKey

# JWT ACCESS KEYS
JWT_SECRET_ACCESS_KEY=accessKey
JWT_SECRET_REFRESH_KEY=refreshKey

# JWT CONFIGS
NODE_ENV=production
SAME_SITE=lax
ACCESS_TOKEN_MAX_AGE=604800000   # 7 days in milliseconds
REFRESH_TOKEN_MAX_AGE=300000     # 5 minutes in milliseconds

# supabase online connection
DATABASE_URL=databaseUrl
